.barra-avance__boton--regresar i
  color: $color-sistema-texto
.barra-avance__boton--regresar:hover span, .barra-avance__boton--regresar:focus span
  color: #FFF !important

.color-naranja2
  background-color: #fff0db
.color-naranja3
  background-color: #FFD494  
.color-naranja4
  background-color: #FFE9CB  
.bloque-texto-b .comilla-inicial i
  color: $color-sistema-texto
  display: flex
  justify-content: center
  align-content: flex-start
  position: absolute
  margin-top: -10px
.bloque-texto-b .comilla-final i
  color: $color-sistema-texto
  display: flex
  align-content: flex-end
  flex-wrap: wrap
  justify-content: center
  position: absolute
  bottom: -10px
.bloque-texto-b i
  font-size: 2.0em

.tarjeta-avatar
  padding-top: 180px
.tarjeta-avatar .tarjeta 
  padding-top: 40px !important  
.tarjeta-avatar .color-naranja3
  background-color: #FFD494 
  transition: opacity (0.5s)
.tarjeta-avatar .img1
  opacity: 1
  transition: opacity (0.5s)
.tarjeta-avatar:hover .img1
    opacity: 0
.tarjeta-avatar:hover .img2
    opacity: 1
.tarjeta-avatar:hover .color-naranja3
  background-color: #E8E8E8
  transition: opacity (0.5s)
  transition: transform (0.5s)    
.tarjeta-avatar .img2
  transition: opacity (0.5s)
  transition: transform (0.5s)
.tarjeta-avatar:hover .img2
    opacity: 1   
.wf
  width: 100%  


.bloque-texto-a.color-secundario:before
  background-color: #FFD494
.bloque-texto-a.color-secundario
  background-color: #ffefd7
.bloque-texto-b2 .comilla-inicial i
  color: $color-sistema-texto
  display: flex
  justify-content: center
  align-content: flex-start
  position: absolute
.bloque-texto-b2 .comilla-final i
  color: $color-sistema-texto
  position: absolute
  bottom: 40px
  right: 55px
.bloque-texto-b2 i
  font-size: 1.8em  


.acordion__accion__btn--a
  background-color: #FFF1DB

.tabs-a__tab
  background-color: #FFB74D


.tarjeta-avatar2
  height: 100%
  position: relative
  padding-top: $tarjeta-avatar-ancho-img / 2
  & > img
    position: absolute
    left: 50%
    top: 0
    transform: translateX(-50%)
    display: block
    width: 160px
    margin: 0 auto
  .tarjeta
    display: inline-block
    padding-top: 40px !important
    height: 100%
    width: 100%

